[submodule "modules/gin"]
	path = modules/gin
	url = https://github.com/FigBug/Gin.git
[submodule "modules/juce"]
	path = modules/juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "modules/plugin_sdk"]
	path = modules/plugin_sdk
	url = https://github.com/TurnipHat/plugin_sdk.git
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
[submodule "modules/MTS-ESP"]
	path = modules/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP.git
[submodule "modules/clap-juce-extensions"]
	path = modules/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
	branch = main
